:root{
    --teal: #2eccac;
    --tealHover: 279e8c;
}

* {
    font-family: "Poppins", sans-serif;
}

.h-font {
    font-family: "Merienda", cursive;
}

/* number input hide */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
/* end of number input hide */

.custom-bg {
    background-color: var(--teal);
}
.custom-bg:hover {
    background-color: var(--tealHover);
}

/* Our Facilities */
.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.pop:hover {
    border-top-color: var(--teal) !important;
    transform: scale(1.04);
    transition: 0.4;
}

.aboutbox {
    border-top-color: var(--teal) !important;
}
